.card {
    border: 1px solid #F3F3F3;
    padding: 10px;
    width: 110px;
    border-radius: 20px;
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
}


.plus {
    cursor: pointer;
}

h5 {
    margin: 0;
    height: 72px;
}

.cardFooter {
}


