.card {
    border: 2px solid #F3F3F3;
    width: 170px;
    height: 275px;
    border-radius: 20px;
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    border-radius: 20px;
    width: 100%
}

.card:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
}


.plus {
    cursor: pointer;
    margin-bottom: 4px;
}

h5 {
    font-size: 18px;
    margin: 0;
    height: 72px;
}

.cardFooter {
    display: flex;
}


