body {
    margin: 0;
    font-family: 'Inter', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
}

* {
    font-family: 'Inter', system-ui;
}

.wrapper {
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}

.filter {
    padding: 40px;
}

.filter button{
    width: 300px;
    height: 40px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.content {
    padding: 30px;
    display: flex;
}

.totalGames {
    flex: 1;
}

.totalGames button {
    width: 150px;
    height: 30px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    flex: 1;
}

.wrapperListOfGames {
    flex: 3;
    align-items: flex-start;
    padding: 17px;
}

li {
    border: 1px solid #F3F3F3;
    border-radius: 3px;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    transition: box-shadow 0.1s ease-in-out, transform 0.2s ease-in-out;
}

li span {
    text-overflow: ellipsis;
}

li img {
    border-radius: 3px;
}

li:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-2px);
}

ul {
    padding-left: 0;
}

.listOfGames {
    display: flex;
    flex-wrap: wrap;
}




